* {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.customOverlay {
  background: rgba(108, 93, 74, 0.7) !important;
}

.customModal {

  color: #fff;
  width: 100vw;
  max-width: 100%;
  border: 2px solid #fff;
  border-radius: 8px;


  background: rgba(17, 17, 17, 0.1) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
}


@media screen and (max-width : 468px) {
  .customModal  {
    width: auto !important;
  }
}
